div {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(193,219,210,1.00) ;
}

div h3 {
    font-size: 24px;
    font-family: sans-serif;
}